@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*------Color variables------*/
    --black_900: #000000;
    --blue_gray_100: #d9d9d9;
    --gray_400: #bfbbbb;
    --light_green_200: #ccdd9d;
    --teal_800: #03773d;
    --white_a700: #ffffff;

    /*------Border radius variables------*/
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 26px;
    --radius-lg: 30px;
    --radius-xl: 42px;

    /*------Spacing variables------*/
    --space-xs: 0.38rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.38rem;
    --space-xl: 1.63rem;
    --space-2xl: 1.75rem;
    --space-3xl: 2.13rem;
    --space-4xl: 2.63rem;
    --space-5xl: 4.5rem;
  }
}
@layer components {
  /*--------------------------------------
    Container CSS
  --------------------------------------*/
  .container-xs {
    @apply w-full mx-auto max-w-[84.63rem];
  }
}
